@charset "utf-8";
body {
  color: #444;
  background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: thin;
}

html,
body,
.section-images {
  margin: 0;
}
.section-images {
  height: 100%;
  margin: 2em auto;
  text-align: left;
}
.wrapper {
	padding:0;
}
img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
  margin: 20px auto;
}
#github-mark {
	background-color: #333366;
	width:120px;
	height:120px;
	text-align:center;
	margin:0 auto;
	padding:15px;
}
#github-mark img {
	max-height:none;
	margin:0;
}
a {
    color: #00a5ac;
}

a:visited {
    color: #00a5ac;
}

a:active {
    color: #00a5ac;
}

.wrapper h3 {
	color:#2e6bbd;
	font-size:24px;
	text-transform:uppercase;
	line-height:1.4;
	font-weight:normal;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

input[type="text"], select, textarea{
	width:80%;
	margin-bottom:4px;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
}
label {
	font-size:14px;
	width:90%;
}
@media only screen and (min-width: 740px) {
	label {
		text-align:right;
		width:280px;
	}
	input[type="text"], select, textarea{
		width:400px;
	}
}

/* DivTable.com */
.divTable{
	display: table;
	width: auto;
	font-size:14px;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
